:root {
	--theme-colour-r: 74;
	--theme-colour-g: 153;
	--theme-colour-b: 96;

	--header-height: var(--block-size-xxxxl) !important;
	--header-background-colour: rgba(0,0,0,0);
	--header-border-width: 0;
}

.box--main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#ctResults > ul > li > chip-card { 
	min-height: 100%;
}

chip-card[image] > * > .card-header img + img, chip-card[image] > * > .card-header:not(:has(img + img)) img {
	position: initial;
	translate: none;
}

chip-card[data-theme="success"] {
	border-color: var(--success-colour);
}

chip-card[data-theme="warning"] {
	border-color: var(--warning-colour);
}

chip-card[data-theme="danger"] {
	border-color: var(--danger-colour);
}

.ai--view-info .btn-accordion-toggle {
	--btn-colour: var(--link-colour);
}
