:root {
	--theme-colour-r: 74;
	--theme-colour-g: 153;
	--theme-colour-b: 96;

	--header-height: var(--block-size-xxxxl) !important;
	--header-background-colour: var(--background-colour);
	--header-border-width: 0;
}

.box--main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#txtSearch {
	width: min(var(--form-width), 90%);
}

chip-frameheader header {
	justify-content: space-evenly;
}

#ctResults > ul > li > chip-card { 
	min-height: 100%;
}

chip-card[image] > * > .card-header img + img, chip-card[image] > * > .card-header:not(:has(img + img)) img {
	position: initial;
	translate: none;
}

.ai--view-info .btn-accordion-toggle {
	--btn-colour: var(--link-colour);
}

.txt--description { 
	text-align: center;
	width: min(600px, 90%);
}

.img--kofi {
	height: 36px;
}
