:root {
	--theme-colour-r: 71;
	--theme-colour-g: 126;
	--theme-colour-b: 89;
	--body-font-size: 16px;
	--header-height: var(--block-size-xxxxl) !important;
	--body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
	--font-weight-medium: 600;
	--header-background-colour: var(--background-colour);
	--header-border-width: 0;
}

:root[data-theme="dark"] {
	--theme-colour-r: 45;
	--theme-colour-g: 151;
	--theme-colour-b: 90;

	--header-height: var(--block-size-xxxxl) !important;
	--header-background-colour: var(--background-colour);
	--header-border-width: 0;
}

#tgAddProduct .tab-group__tabs,
#tgMain .tab-group__tabs {
	display: none;
}

.txt--search {
	width: min(var(--form-width), 90%) !important;
	--input-border-radius: 1000px;
}

chip-frameheader header {
	justify-content: space-evenly;
}

#ctResults > ul > li > chip-card { 
	height: 100%;
}

#ctResults > ul > li > chip-card > * > .card-header {
	min-height: 200px;
	max-height: 200px;
	background-color: #FFFFFF;
}

#ctResults > ul > li > chip-card > * > .card-header > chip-cardheader {
	display: flex;
}

#ctResults > ul > li > chip-card > * > .card-body {
	padding-top: var(--card-spacing);
	height: 100%;
}

chip-card[image] > * > .card-header img + img, chip-card[image] > * > .card-header:not(:has(img + img)) img {
	position: initial;
	display: flex;
	margin: auto;
	max-height: 200px;
	translate: none;
	padding: var(--block-size-base);
}

.ai--view-info .btn-accordion-toggle {
	--btn-colour: var(--link-colour);
}

.txt--description { 
	text-align: center;
	width: min(500px, 90%);
}

.img--kofi {
	height: var(--block-size-xl);
}

.cd--product {
	border-color: var(--outline-colour);
}

#imgProduct {
	object-fit: contain;
	max-height: 100px;
	max-width: 100px;
}

#accAbout .btn-accordion-toggle {
	--btn-font-size: var(--heading-size-3);
	--btn-colour: var(--theme-colour);
	margin-bottom: var(--block-size-sm);
}

#epResults {
	min-width: 325px;
}

.bc--main {
	font-size: var(--heading-size-4);
}

.product-label > .h-align {
	align-items: baseline;
}

.pc--name,
.brand-hierarchy {
	display: flex;
	align-items: baseline;
}

.ai--brand-name .btn-accordion-toggle {
	--btn-colour: var(--secondary-colour);
	--btn-font-weight: var(--font-weight-regualar);
	flex-direction: row-reverse;
	min-block-size: 0;
	padding: 0;
}

.ai--brand-name .btn-accordion-toggle chip-icon {
	margin-right: 0;
	margin-left: var(--block-size-xs);
	font-size: var(--body-font-size-xxs);
	font-weight: var(--font-weight-regular);
}

.hero {
	max-width: min(800px, 90%);
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
	padding: var(--block-size-xxl);
	border-radius: var(--strong-border-radius);
}

.ep--results {
	margin-top: 25%;
}

.shimmer {
	color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    to right,
    var(--body-colour) 0%,
    var(--body-colour) 40%,
    var(--theme-colour) 50%,
    var(--body-colour) 60%,
    var(--body-colour) 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shimmer 3s linear infinite;
  background-repeat: no-repeat;
  background-color: var(--body-colour);
}

@keyframes shimmer {
  0% {
    background-position: 125% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
