.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs/
.localhistory/
[Bb]in/
[Oo]bj/
[Dd]ebug*/ 
[Rr]elease*/ 
x64/
x86/
[Aa][Rr][Mm]*/ 
bld/
artifacts/
Generated*/
Generated_Code/
**/GeneratedArtifacts/
*.log
*.tmp*
*.user*
*.suo
*.pidb
*.pdb
*.ilk
*.obj
*.iobj
*.meta
*.rsp
*.cachefile
*.VC.db
*.VC.VC.opendb
node_modules/
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.nuget.props
*.nuget.targets
*~
*.swp
*.swo
*.swn
.wrangler/*
